{% extends 'base.html.twig' %}

{% block title %}Dashboard | DLH{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="dlh-site-heading">
                <h1>Projekte</h1>
                <a href="{{ app.request.getSchemeAndHttpHost() }}/projects/new"><button type="submit" class="btn btn-secondary btn-sm">Projekt erstellen</button></a>
            </div>
            <table class="table view-table-listing project-table">
                <thead>
                    <tr>
                        <th scope="col" class="project-name is-sortable">
                            {% set tmpSortOrder = "DESC" %}
                                
                            {% if projectViewSetting.getSortBy() == 'name' and projectViewSetting.getSortOrder() == 'DESC' %}
                                {% set tmpSortOrder = "ASC" %}
                            {% endif %}
                            <a href="{{ path('app_dashboard') }}?sortBy=name&amp;sortOrder={{ tmpSortOrder }}">Projektname</a>
                        </th>
                        <th scope="col">Zeiterfassung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>
                                {# Button for starting or ending the worktime for a project. #}
                                {% set projectId = project.id.toRfc4122() %}

                                {% if notEnded[projectId] is defined %}
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/timetracking/endDialog?time_tracking_id={{ notEnded[projectId] }}"><button type="submit" class="btn btn-danger btn-sm">Beenden</button></a>
                                {% else %}
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/timetracking/start?project_id={{ project.id }}"><button type="submit" class="btn btn-success btn-sm">Starten</button></a>
                                {% endif %}

                                {# Button for listing all project time records. #}
                                <a href="/timetracking/listProjectTimes?project_id={{ project.id }}"><button type="submit" class="btn btn-light btn-sm">Trackings auflisten</button></a>

                                {# Button, used to edit a project. #}
                                <a href="{{ path('app_projects.edit', { 'id': project.id }) }}"><button type="submit" class="btn btn-light btn-sm">Projekt bearbeiten</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
                <div class="col">
                    <nav aria-label="Project Page Navigation">
                        <ul class="pagination justify-content-center">
                            {# Button for first page. #}
                            <li class="page-item{% if page == 1 %} disabled{% endif %}">
                                <a class="page-link"{% if page != 1 %} href="{{ path('app_dashboard') }}?page=1"{% endif %} aria-label="First Page">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            {# Display pages #}
                            {% for paginationPage in pagination.getPages() %}
                                <li class="page-item {% if paginationPage.getIsCurrentPage() %} disabled{% endif %}">
                                    <a class="page-link" {% if not paginationPage.getIsCurrentPage() %} href="{{ path('app_dashboard') }}?page={{ paginationPage.getPage() }}{% endif %}">{{ paginationPage.getPage() }}</a>
                                </li>
                            {% endfor %}
                            
                            {# Button for last page #}
                            <li class="page-item{% if page == pages %} disabled{% endif %}">
                                <a class="page-link" {% if page != pages %} href="{{ path('app_dashboard') }}?page={{ pages }}"{% endif %} aria-label="Last Page">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col">
                    <div class="dlh-pagination">
                        <form action="{{ path('app_dashboard') }}">
                            <label for="page">Seite:&nbsp;</label><input type="text" name="page" class="form-control" value="{{ page|escape }}"> <label>von {{ pages|escape }}</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
