{% extends 'base.html.twig' %}

{% block title %}Dashboard | DLH{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="dlh-site-heading">
                <h1>Projekte</h1>
                <a href="{{ app.request.getSchemeAndHttpHost() }}/projects/new"><button type="submit" class="btn btn-secondary btn-sm">Projekt erstellen</button></a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Projektname</th>
                        <th scope="col">Zeiterfassung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>
                                {# Button for starting or ending the worktime for a project. #}
                                {% set projectId = project.id.toRfc4122() %}

                                {% if notEnded[projectId] is defined %}
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/timetracking/end?time_tracking_id={{ notEnded[projectId] }}"><button type="submit" class="btn btn-danger btn-sm">Beenden</button></a>
                                {% else %}
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/timetracking/start?project_id={{ project.id }}"><button type="submit" class="btn btn-success btn-sm">Starten</button></a>
                                {% endif %}

                                {# Button for listing all project time records. #}
                                <a href="/timetracking/listProjectTimes?project_id={{ project.id }}"><button type="submit" class="btn btn-light btn-sm">Trackings auflisten</button></a>

                                {# Button, used to edit a project. #}
                                <a href="{{ path('app_projects.edit', { 'id': project.id }) }}"><button type="submit" class="btn btn-light btn-sm">Projekt bearbeiten</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
                <div class="col">
                    <nav aria-label="Project Page Navigation">
                        <ul class="pagination justify-content-center">
                            {# Button for first page. #}
                            <li class="page-item{% if page == 1 %} disabled{% endif %}">
                                <a class="page-link"{% if page != 1 %} href="{{ path('app_dashboard') }}?page=1"{% endif %} aria-label="First Page">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            
                            {# First page (left) #}
                            <li class="page-item {% if page == 1 %} disabled{% endif %}">
                                <a class="page-link" {% if page != 1 %} href="{{ path('app_dashboard') }}?page={% if page > 3 %}{{ page-1 }}{% else %}1{% endif %}"{% endif %}>{% if page > 3 %}{{ page-1 }}{% else %}1{% endif %}</a>
                            </li>

                            {# Second page (middle) #}
                            {% if pages > 1 %}
                                <li class="page-item{% if (page > 2 and page != pages) or pages == 2 %} disabled{% endif %}">
                                    {% if page != pages %} {# if the current page is not the last page #}
                                        <a class="page-link" {% if page > 1 and page != pages %}href="#"{% endif %}>{% if page > 3 %}{{ page }}{% else %}2{% endif %}</a>
                                    {% else %} {# if the current page is the last page #}
                                        {% if pages == 2 %} {# if there are only 2 pages #}
                                            <a class="page-link" {% if page > 1 and page != pages %}href="#"{% endif %}>{% if page > 3 %}{{ page }}{% else %}2{% endif %}</a>
                                        {% else %}
                                            <a class="page-link" {% if page > 1 and page != pages %}href="#"{% endif %}>{% if page > 3 %}{{ page }}{% else %}2{% endif %}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endif %}

                            {# Third page (right) #}
                            {% if pages > 2 %}
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            {% endif %}
                            
                            {# Button for last page #}
                            <li class="page-item{% if page == pages %} disabled{% endif %}">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col">
                    <div class="dlh-pagination">
                        <form action="{{ path('app_dashboard') }}">
                            <label for="page">Seite:&nbsp;</label><input type="text" name="page" class="form-control" value="{{ page|escape }}"> <label>von {{ pages|escape }}</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
