{% extends 'base.html.twig' %}

{% block title %}Dashboard | DLH{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="dlh-site-heading">
                <h1>Projekte</h1>
                <a href="{{ app.request.getSchemeAndHttpHost() }}/projects/new"><button type="submit" class="btn btn-secondary btn-sm">Projekt erstellen</button></a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Projektname</th>
                        <th scope="col">Zeiterfassung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>
                                {# Button for starting or ending the worktime for a project. #}
                                {% set projectId = project.id.toRfc4122() %}

                                {% if notEnded[projectId] is defined %}
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/timetracking/end?time_tracking_id={{ notEnded[projectId] }}"><button type="submit" class="btn btn-danger btn-sm">Beenden</button></a>
                                {% else %}
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/timetracking/start?project_id={{ project.id }}"><button type="submit" class="btn btn-success btn-sm">Starten</button></a>
                                {% endif %}

                                {# Button for listing all project time records. #}
                                <a href="/timetracking/listProjectTimes?project_id={{ project.id }}"><button type="submit" class="btn btn-light btn-sm">Trackings auflisten</button></a>

                                {# Button, used to edit a project. #}
                                <a href="{{ path('app_projects.edit', { 'id': project.id }) }}"><button type="submit" class="btn btn-light btn-sm">Projekt bearbeiten</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="dlh-navigation">
                <form action="{{ path('app_dashboard') }}">
                    <label for="page">Seite: </label><input type="text" name="page" class="form-control">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
