{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.adminNew.title'|trans }}{{ 'admin.general.titleSeparator'|trans }}{{ 'admin.general.applicationTitle'|trans }}{% endblock %}

{% block body %}
<main class="col-12 col-md-9 ms-sm-auto col-lg-10 px-md-4" style="overflow-y: auto">
    <div class="row">
        <div class="col">
            <div class="dlh-site-heading">
                <h1>{{ 'admin.adminNew.title'|trans }}</h1>
            </div>

            {% if newAdminFormErrors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {% for error in newAdminFormErrors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

             {{ form_start(newAdminForm) }}
                <div class="form-floating mb-3">
                    {{ form_widget(newAdminForm.email, {'attr': {'type': 'email', 'class': 'form-control'}}) }}
                    {{ form_label(newAdminForm.email) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(newAdminForm.password, {'attr': { 'class': 'form-control'}}) }}
                    {{ form_label(newAdminForm.password) }}
                </div>
                {{ form_widget(newAdminForm.save, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
            {{ form_end(newAdminForm) }}
        </div>
    </div>
</main>
{% endblock %}