<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}DLH{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/dlh.css') }}" rel="stylesheet">
        <link href="{{ asset('fontawesome/css/all.min.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('image/favicon.png') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ app.request.getSchemeAndHttpHost() }}">DLH</a>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/axios.1.1.2.min.js') }}"></script>
        <script src="{{ asset('js/axios.1.1.2.min.js') }}"></script>
        <script src="{{ asset('js/Service/ProjectService.js') }}"></script>
        <script src="{{ asset('js/Controller/TimeTrackingController.js') }}"></script>
    </body>
</html>