<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BetterTime{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/dlh.css') }}" rel="stylesheet">
        <link href="{{ asset('fontawesome/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/tempus-dominus.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('image/favicon.png') }}">
        {% block additionalCss %}{% endblock %}
    </head>
    <body{% block additionalBodyTags %}{% endblock %}>
        {% block headerNavigation %}
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ app.request.getSchemeAndHttpHost() }}">DLH</a>
                </div>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

        {% block additionalJavascript %}{% endblock %}
    </body>
</html>