{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block additionalCss %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block additionalBodyTags %} class="btLoginPage text-center visitor"{% endblock %}

{% block headerNavigation %}{% endblock %}

{% block body %}
<main class="form-signin form-registration w-100 m-auto">
    <h1><a href="{{ path('index') }}">BetterTime</a></h1>
    <p>Registrieren | <a href="{{ path('app_login') }}">Einloggen</a></p>
    
    {# {{ form(registrationForm) }} #}

    {{ form_start(registrationForm) }}
        <div class="form-floating">
            {{ form_widget(registrationForm.email, {'attr': {'type': 'email', 'class': 'form-control'}}) }}
            {{ form_label(registrationForm.email) }}
        </div>

        <div class="form-floating">
            {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_label(registrationForm.password.first) }}
        </div>

        <div class="form-floating">
            {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_label(registrationForm.password.second) }}
        </div>

        {{ form_widget(registrationForm.registrieren, {'attr': {'class': 'w-100 btn btn-lg btn-primary'}}) }}

    {{ form_end(registrationForm) }}


</main>
{% endblock %}