{% extends 'base.html.twig' %}

{% block title %}Mein Account | BetterTime{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="dlh-site-heading">
                <h1>Mein Account</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-9 col-lg-6">
            {# {{ form(accountForm) }} #}

            {{ form_start(accountForm) }}
                <div class="form-floating mb-3">
                    {{ form_widget(accountForm.email, {'attr': {'type': 'email', 'class': 'form-control'}}) }}
                    {{ form_label(accountForm.email) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(accountForm.password.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(accountForm.password.first) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(accountForm.password.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(accountForm.password.second) }}
                </div>

                {{ form_widget(accountForm.save, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
            {{ form_end(accountForm) }}
        </div>
    </div>
</div>
{% endblock %}
