{% extends 'base.html.twig' %}

{% block title %}Mein Account | BetterTime{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="dlh-site-heading">
                <h1>Mein Account</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-9 col-lg-6">
            <h2>E-Mail Adresse</h2>

            {% if emailSuccess %}
                <div class="alert alert-success" role="alert">
                    <div>Die E-Mail Adresse wurde geändert..</div>
                </div>
            {% endif %}

            {% if emailErrors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {% for error in emailErrors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {{ form_start(emailForm) }}
                <div class="form-floating mb-3">
                    {{ form_widget(emailForm.email, {'attr': {'type': 'email', 'class': 'form-control'}}) }}
                    {{ form_label(emailForm.email) }}
                </div>
                {{ form_widget(emailForm.save, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
            {{ form_end(emailForm) }}
        </div>
    </div>

    <div class="row">
        <div class="col col-md-9 col-lg-6">
            <hr />
            <h2>Passwort</h2>

            {% if passwordSuccess %}
                <div class="alert alert-success" role="alert">
                    <div>Das Passwort wurde geändert.</div>
                </div>
            {% endif %}

            {% if passwordErrors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {% for error in passwordErrors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {{ form_start(passwordForm) }}
                <div class="form-floating mb-4">
                    {{ form_widget(passwordForm.previousPassword, {'attr': { 'class': 'form-control'}}) }}
                    {{ form_label(passwordForm.previousPassword) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(passwordForm.password.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(passwordForm.password.first) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(passwordForm.password.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(passwordForm.password.second) }}
                </div>

                {{ form_widget(passwordForm.save, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
            {{ form_end(passwordForm) }}
        </div>
    </div>
</div>
{% endblock %}
