{% extends 'base.html.twig' %}

{% block title %}Projekt Arbeitszeiten bearbeiten{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Zeit stoppen</h1>
            <p>Hier kannst du deine Projektzeit stoppen und einige Informationen dazu eingeben.</p>
            <p><a href="{{ path('app_time_tracking.list.project.times', { project_id: timeTracking.project.id }) }}"><button class="btn btn-secondary" type="button">Zurück zur Liste</button></a></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{{ path('app_time_tracking.update') }}" method="post">
                <input type="hidden" name="time_tracking_id" value="{{ timeTracking.id }}"/>
                <input type="hidden" name="redirectTo" value="{{ redirectTo }}"/>

                <div class="mb-3">
                    <label for="projectSearch" class="form-label">Projekt: </label>

                    <input type="text" class="form-control" id="projectSearch" placeholder="Suche nach einem Projekt" {% if timeTracking.project is not null %}value="{{ timeTracking.project.name }}"{% endif %}/>
                    <select class="form-select" size="3" aria-label="size 3 select example" id="projectSearchResult" style="display: none;">
                        <option>Keine Daten</option>
                    </select>

                    <input type="hidden" name="projectId" id="projectId" value="{% if timeTracking.project is not null %}{{ timeTracking.project.id }}{% endif %}"/>
                </div>
                
                <div class="mb-3">
                    <label for="starttime" class="form-label">Startdatum</label>
                    <input type="datetime-local" name="starttime" class="form-control" value="{{ timeTracking.starttime|date("Y-m-d") }}T{{ timeTracking.starttime|date("H:i:s") }}" />
                </div>
                <div class="mb-3">
                    <label for="endtime" class="form-label">Enddatum</label>
                    
                    {% if endDatetimeNow is defined %}
                        <input type="datetime-local" name="endtime" class="form-control" value="{% if endDatetimeNow is null %}{% else %}{{ endDatetimeNow|date("Y-m-d") }}T{{ endDatetimeNow|date("H:i:s") }}{% endif %}" />
                    {% else %}
                        <input type="datetime-local" name="endtime" class="form-control" value="{% if timeTracking.endtime is null %}{% else %}{{ timeTracking.endtime|date("Y-m-d") }}T{{ timeTracking.endtime|date("H:i:s") }}{% endif %}" />
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="use_on_invoice" class="form-label">
                        <input type="checkbox" name="use_on_invoice" id="use_on_invoice" value="1" {% if timeTracking.useOnInvoice == true %}checked="checked"{% endif %} />
                        Abrechnen?
                    </label>
                </div>
               
                {% if showInvoiceNumber == true %}
                    <div class="mb-3">
                        <label for="use_on_invoice" class="form-label">Rechnung</label>
                        <input type="text" name="invoice_id" class="form-control" value="{% if timeTracking.invoiceId is null %}{% else %}{{ timeTracking.invoiceId }}{% endif %}" readonly="readonly" />
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="comment" class="form-label">Kommentar</label>
                    <textarea name="comment" class="form-control">{{ timeTracking.comment|escape }}</textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}