{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.login.title'|trans }}{{ 'admin.general.titleSeparator'|trans }}{{ 'admin.general.applicationTitle'|trans }}{% endblock %}

{% block additionalCss %}
    <link href="{{ asset('admin/css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block additionalBodyTags %} class="btLoginPage text-center visitor"{% endblock %}
{% block sidebarNavigation %}{% endblock %}
{% block mainWrap %}{%endblock %}
{% block mainWrapEnd %}{%endblock %}

{% block body %}
<main class="form-signin form-registration w-100 m-auto">
    <h1>{{ 'admin.general.applicationTitle'|trans }}</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('admin_login') }}" method="post">
        <div class="form-floating">
            <input type="text" id="email" name="email" value="{{ last_username }}" class="form-control"/>
            <label for="email">Email:</label>
        </div>

        <div class="form-floating">
            <input type="text" id="password" name="password" class="form-control" />
            <label for="password">Password:</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="w-100 btn btn-lg btn-primary">login</button>
    </form>
</main>
{% endblock %}