{% extends 'base.html.twig' %}

{% block title %}{{ 'general.application.title'|trans }}{% endblock %}

{% block additionalCss %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block additionalBodyTags %} class="btLoginPage text-center visitor"{% endblock %}

{% block headerNavigation %}{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <h1>{{ 'general.application.title'|trans }}</h1>

    {% if user is null %}
        <p><a href="{{ path('app_registration') }}">{{ 'index.register'|trans }}</a> | <a href="{{ path('app_login') }}">{{ 'index.login'|trans }}</a></p>
    {% else %}
        <p><a href="{{ path('app_dashboard') }}">{{ 'index.showDashboard'|trans }}</a></p>
    {% endif %}
</main>
{% endblock %}
